
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /source-archive/andreramosmidwest.ie/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /source-archive/andreramosmidwest.ie/index.php [L]
</IfModule>

# END WordPress